
@{
    ViewData["Title"] = "x";
}

<!-- 第一个例子：控制列的宽度及在不同的设备上如何显示 -->
<div class="row">
    <div class="col-*-*">1</div>
</div>
<div class="row">
    <div class="col-*-*">2</div>
    <div class="col-*-*">3</div>
    <div class="col-*-*">4</div>
</div>

<!-- 第二个例子：或让 Bootstrap 者自动处理布局 -->
<div class="row">
    <div class="col">1</div>
    <div class="col">2</div>
    <div class="col">3</div>
</div>
